PORT=3000
JWT_SECRET=super-secret-key-change-it-now-in-production

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=webhook_manager

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/webhook_manager?schema=public"

REDIS_URL="redis://localhost:6379"
